# Checkpoint 1: Data Cleaning 1

In [155]:
# Load the companies data from companies.txt file
import pandas as pd
import numpy as np
companies = pd.read_csv('../data/companies.txt', sep="\t", encoding="ISO-8859-1")
#companies['permalink'] = companies.permalink.apply(' '.join).str.replace('[^A-Za-z0-9/-]+', '')
companies.head()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/Organization/-Fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/Organization/-Qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/Organization/-The-One-Of-Them-Inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/Organization/0-6-Com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
4,/Organization/004-Technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010

In [156]:
# Load the rounds data from rounds2.csv file
rounds2 = pd.read_csv('../data/rounds2.csv',encoding="ISO-8859-1")
#rounds2['company_permalink'] = rounds2.company_permalink.apply(' '.join).str.replace('[^A-Za-z0-9/-]+', '')
rounds2.iloc[109548]

company_permalink                           /organization/we-are-curious-2
funding_round_permalink    /funding-round/6d64bb10fa7da3662369d3b71dac171f
funding_round_type                                                 venture
funding_round_code                                                     NaN
funded_at                                                       17-07-2015
raised_amount_usd                                                   509999
Name: 109548, dtype: object

In [157]:
rounds2.shape

(114949, 6)

In [158]:
companies.shape

(66368, 10)

In [159]:
# Find the number of unique companies in rounds2.csv
# Find the number of companies 


rounds2['company_permalink'].size

114949

In [160]:
rounds2['company_permalink'].nunique()

90247

In [161]:
# # convert the company names to lower case
rounds2['company_permalink'] = rounds2['company_permalink'].map(lambda x: x if type(x)!=str else x.lower())
rounds2['company_permalink'].nunique()

66370

In [152]:
# Find the number of unique companies in companies.txt
companies['permalink'].size

66368

In [153]:
companies['permalink'].nunique()

66368

In [154]:
# convert the company names to lower case
companies['permalink'] = companies['permalink'].map(lambda x: x if type(x)!=str else x.lower())
companies['permalink'].nunique()

66368

In [12]:
companies.info(verbose=None, buf=None, max_cols=None, memory_usage=None, null_counts=None)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66368 entries, 0 to 66367
Data columns (total 10 columns):
permalink        66368 non-null object
name             66367 non-null object
homepage_url     61310 non-null object
category_list    63220 non-null object
status           66368 non-null object
country_code     59410 non-null object
state_code       57821 non-null object
region           58338 non-null object
city             58340 non-null object
founded_at       51147 non-null object
dtypes: object(10)
memory usage: 5.1+ MB

In [13]:
rounds2.info(verbose=None, buf=None, max_cols=None, memory_usage=None, null_counts=None)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114949 entries, 0 to 114948
Data columns (total 6 columns):
company_permalink          114949 non-null object
funding_round_permalink    114949 non-null object
funding_round_type         114949 non-null object
funding_round_code         31140 non-null object
funded_at                  114949 non-null object
raised_amount_usd          94959 non-null float64
dtypes: float64(1), object(5)
memory usage: 5.3+ MB

In [14]:
# Rename the "permalink" column name in companies dataframe

#master_frame = pd.merge(rounds2,companies, how='left', left_on=['company_permalink'], right_on=['permalink'])
#master_frame.head()
#master_frame.info(verbose=None, buf=None, max_cols=None, memory_usage=None, null_counts=None)

In [15]:
#master_frame.head()

In [16]:
# find null values in permalink column
#master_frame[master_frame['permalink'].isnull()]

In [17]:
rounds2.tail()

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
114944,/organization/zzzzapp-com,/funding-round/8f6d25b8ee4199e586484d817bceda05,convertible_note,NaN,01-03-2014,41313.0
114945,/organization/zzzzapp-com,/funding-round/ff1aa06ed5da186c84f101549035d4ae,seed,NaN,01-05-2013,32842.0
114946,/organization/eron,/funding-round/59f4dce44723b794f21ded3daed6e4fe,venture,A,01-08-2014,NaN
114947,/organization/asys-2,/funding-round/35f09d0794651719b02bbfd859ba9ff5,seed,NaN,01-01-2015,18192.0
114948,/organization/novatiff-reklam-ve-tantm-hizmetl...,/funding-round/af942869878d2cd788ef5189b435ebc4,grant,NaN,01-10-2013,14851.0

In [18]:
companies = companies.rename(columns={'permalink': 'company_permalink'})
companies.head()

,company_permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/organization/-fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/organization/-qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/organization/-the-one-of-them-inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/organization/0-6-com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
4,/organization/004-technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010

In [19]:
master_frame = pd.merge(rounds2,companies, how='left', on=['company_permalink'])
master_frame.head()
master_frame.info(verbose=None, buf=None, max_cols=None, memory_usage=None, null_counts=None)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 114949 entries, 0 to 114948
Data columns (total 15 columns):
company_permalink          114949 non-null object
funding_round_permalink    114949 non-null object
funding_round_type         114949 non-null object
funding_round_code         31140 non-null object
funded_at                  114949 non-null object
raised_amount_usd          94959 non-null float64
name                       114948 non-null object
homepage_url               108815 non-null object
category_list              111539 non-null object
status                     114949 non-null object
country_code               106271 non-null object
state_code                 104003 non-null object
region                     104782 non-null object
city                       104785 non-null object
founded_at                 94428 non-null object
dtypes: float64(1), object(14)
memory usage: 14.0+ MB

In [20]:
#master_frame.info(verbose=None, buf=None, max_cols=None, memory_usage=None, null_counts=None)

In [21]:
master_frame.tail()

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
114944,/organization/zzzzapp-com,/funding-round/8f6d25b8ee4199e586484d817bceda05,convertible_note,NaN,01-03-2014,41313.0,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012
114945,/organization/zzzzapp-com,/funding-round/ff1aa06ed5da186c84f101549035d4ae,seed,NaN,01-05-2013,32842.0,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012
114946,/organization/eron,/funding-round/59f4dce44723b794f21ded3daed6e4fe,venture,A,01-08-2014,NaN,ÃERON,http://www.aeron.hu/,NaN,operating,NaN,NaN,NaN,NaN,01-01-2011
114947,/organization/asys-2,/funding-round/35f09d0794651719b02bbfd859ba9ff5,seed,NaN,01-01-2015,18192.0,Ãasys,http://www.oasys.io/,Consumer Electronics|Internet of Things|Teleco...,operating,USA,CA,SF Bay Area,San Francisco,01-01-2014
114948,/organization/novatiff-reklam-ve-tantm-hizmetl...,/funding-round/af942869878d2cd788ef5189b435ebc4,grant,NaN,01-10-2013,14851.0,Ä°novatiff Reklam ve TanÄ±tÄ±m Hizmetleri Tic,http://inovatiff.com,Consumer Goods|E-Commerce|Internet,operating,NaN,NaN,NaN,NaN,NaN

# Checkpoint 2 : Funding Type Analysis

In [22]:
# Calcuate the mean (most representative value) of investment amount for each type of funding
# Find the mean for each type of funding
#pd.options.display.float_format = '{:.2f}'.format
mrv = master_frame.groupby(['funding_round_type'],as_index=False)['raised_amount_usd'].mean()
mrv

       funding_round_type  raised_amount_usd
0                   angel       9.586945e+05
1        convertible_note       1.453439e+06
2          debt_financing       1.704353e+07
3     equity_crowdfunding       5.383682e+05
4                   grant       4.300576e+06
5   non_equity_assistance       4.112031e+05
6           post_ipo_debt       1.687046e+08
7         post_ipo_equity       8.218249e+07
8          private_equity       7.330859e+07
9    product_crowdfunding       1.363131e+06
10       secondary_market       7.964963e+07
11                   seed       7.198180e+05
12            undisclosed       1.924237e+07
13                venture       1.174895e+07

In [23]:
# Since the mean value for "Venture" lies between 5 million to 15 million, Spark will invest in "Venture" type of investment
# So retain only "Venture" investments in the dataframe
master_frame = master_frame.loc[(master_frame.funding_round_type == 'venture')]
master_frame.shape

(55494, 15)

# Checkpoint 3: Country Analysis

In [24]:
# Find top nine countries with the highest total funding for "Venture" type of investment
#master_frame = master_frame[master_frame.status != "closed"]

master_frame.shape

(55494, 15)

In [25]:
top9 = master_frame.groupby('country_code')['raised_amount_usd'].sum().sort_values(ascending=False)
#top9 = master_frame.sort_values('raised_amount_usd',ascending=False)
#top9.dropna(axis=0, how='any', thresh=None, subset=['country_code'], inplace=True)
top9=top9.to_frame()
top9=top9.reset_index()
top9 = top9.head(9)
top9

  country_code  raised_amount_usd
0          USA       4.225108e+11
1          CHN       3.983542e+10
2          GBR       2.024563e+10
3          IND       1.439186e+10
4          CAN       9.583332e+09
5          FRA       7.259537e+09
6          ISR       6.907515e+09
7          DEU       6.346960e+09
8          JPN       3.363677e+09

# Checkpoint 4: Sector Analysis 1

In [26]:
# read from mapping.csv
mapping = pd.read_csv('../data/mapping.csv',encoding="ISO-8859-1")
# drop rows where category_list is na
mapping.dropna(axis=0, how='any', thresh=None, subset=['category_list'], inplace=True)

In [27]:
# clean up the primary sector column
import re
#replace 0 in the beginning of a category with 'Na'
mapping['category_list'] = mapping['category_list'].apply(lambda x:re.sub('^0','Na',x))
#replace all other 0s in category with 'na'
mapping['category_list'] = mapping['category_list'].apply(lambda x: re.sub('0','na',x))

In [28]:
# for each row in the mapping dataframe, check for the column that has value of 1 and capture the column name
new_map = mapping.loc[:, mapping.columns != 'category_list']
new_map
mapping['Main_sector'] = new_map.idxmax(axis=1)
mapping.shape

(687, 11)

In [29]:
mapping = mapping[['category_list','Main_sector']]

#mapping = mapping.to_dict('records')
map_dict = dict(zip(mapping.category_list, mapping.Main_sector))
map_dict

{'3D': 'Manufacturing',
 '3D Printing': 'Manufacturing',
 '3D Technology': 'Manufacturing',
 'Accounting': 'Social, Finance, Analytics, Advertising',
 'Active Lifestyle': 'Health',
 'Ad Targeting': 'Social, Finance, Analytics, Advertising',
 'Advanced Materials': 'Manufacturing',
 'Adventure Travel': 'Automotive & Sports',
 'Advertising': 'Social, Finance, Analytics, Advertising',
 'Advertising Exchanges': 'Social, Finance, Analytics, Advertising',
 'Advertising Networks': 'Social, Finance, Analytics, Advertising',
 'Advertising Platforms': 'Social, Finance, Analytics, Advertising',
 'Advice': 'Others',
 'Aerospace': 'Automotive & Sports',
 'Agriculture': 'Manufacturing',
 'Air Pollution Control': 'Cleantech / Semiconductors',
 'Algorithms': 'Others',
 'All Markets': 'Others',
 'All Students': 'Others',
 'Alternative Medicine': 'Health',
 'Alumni': 'Others',
 'Analytics': 'Social, Finance, Analytics, Advertising',
 'Android': 'Social, Finance, Analytics, Advertising',
 'Angels': 'Others',
 'Animal Feed': 'Health',
 'Anything Capital Intensive': 'Social, Finance, Analytics, Advertising',
 'App Discovery': 'News, Search and Messaging',
 'App Marketing': 'News, Search and Messaging',
 'App Stores': 'News, Search and Messaging',
 'Application Performance Monitoring': 'News, Search and Messaging',
 'Application Platforms': 'News, Search and Messaging',
 'Apps': 'News, Search and Messaging',
 'Aquaculture': 'Cleantech / Semiconductors',
 'Architecture': 'Manufacturing',
 'Archiving': 'News, Search and Messaging',
 'Art': 'Entertainment',
 'Artificial Intelligence': 'Social, Finance, Analytics, Advertising',
 'Artists Globally': 'Entertainment',
 'Assisitive Technology': 'Health',
 'Assisted Living': 'Health',
 'Auctions': 'Social, Finance, Analytics, Advertising',
 'Audio': 'Entertainment',
 'Audiobooks': 'Entertainment',
 'Augmented Reality': 'Social, Finance, Analytics, Advertising',
 'Auto': 'Automotive & Sports',
 'Automated Kiosk': 'Automotive & Sports',
 'Automotive': 'Automotive & Sports',
 'B2B': 'Social, Finance, Analytics, Advertising',
 'B2B Express Delivery': 'Social, Finance, Analytics, Advertising',
 'BPO Services': 'Social, Finance, Analytics, Advertising',
 'Babies': 'Health',
 'Baby Accessories': 'Health',
 'Baby Boomers': 'Health',
 'Baby Safety': 'Health',
 'Banking': 'Social, Finance, Analytics, Advertising',
 'Batteries': 'Manufacturing',
 'Beauty': 'Health',
 'Bicycles': 'Automotive & Sports',
 'Big Data': 'Social, Finance, Analytics, Advertising',
 'Big Data Analytics': 'Social, Finance, Analytics, Advertising',
 'Billing': 'Social, Finance, Analytics, Advertising',
 'Bio-Pharm': 'Cleantech / Semiconductors',
 'Biofuels': 'Cleantech / Semiconductors',
 'Bioinformatics': 'Cleantech / Semiconductors',
 'Biomass Power Generation': 'Cleantech / Semiconductors',
 'Biometrics': 'Cleantech / Semiconductors',
 'Biotechnology': 'Cleantech / Semiconductors',
 'Bitcoin': 'Cleantech / Semiconductors',
 'Blogging Platforms': 'News, Search and Messaging',
 'Boating Industry': 'Automotive & Sports',
 'Brand Marketing': 'Social, Finance, Analytics, Advertising',
 'Brewing': 'Entertainment',
 'Bridging Online and Offline': 'Social, Finance, Analytics, Advertising',
 'Broadcasting': 'News, Search and Messaging',
 'Brokers': 'News, Search and Messaging',
 'Browser Extensions': 'News, Search and Messaging',
 'Building Owners': 'News, Search and Messaging',
 'Building Products': 'Manufacturing',
 'Business Analytics': 'Social, Finance, Analytics, Advertising',
 'Business Development': 'Social, Finance, Analytics, Advertising',
 'Business Information Systems': 'Social, Finance, Analytics, Advertising',
 'Business Intelligence': 'Social, Finance, Analytics, Advertising',
 'Business Productivity': 'Social, Finance, Analytics, Advertising',
 'Business Services': 'Social, Finance, Analytics, Advertising',
 'Business Travelers': 'Entertainment',
 'CAD': 'Automotive & Sports',
 'CRM': 'Social, Finance, Analytics, Advertising',
 'Cable': 'News, Search and Messaging',
 'Call Center Automation': 'News, Search and Messaging',
 'Cannabis': 'Health',
 'Carbon': 'Cleantech / Semiconductors',
 'Career Management': 'Social, Finance, Analytics, Advertising',
 'Career Planning': 'Social, Finance, Analytics, Advertising',
 'Cars': 'Automotive & Sports',
 'Casual Games': 'Entertainment',
 'Celebrity': 'Entertainment',
 'Certification Test': 'News, Search and Messaging',
 'Charities': 'Social, Finance, Analytics, Advertising',
 'Charity': 'Social, Finance, Analytics, Advertising',
 'Charter Schools': 'Social, Finance, Analytics, Advertising',
 'Chat': 'News, Search and Messaging',
 'Chemicals': 'Cleantech / Semiconductors',
 'Child Care': 'Health',
 'China Internet': 'News, Search and Messaging',
 'Civil Engineers': 'Manufacturing',
 'Classifieds': 'News, Search and Messaging',
 'Clean Energy': 'Cleantech / Semiconductors',
 'Clean Technology': 'Cleantech / Semiconductors',
 'Clean Technology IT': 'Cleantech / Semiconductors',
 'Clinical Trials': 'Health',
 'Cloud Computing': 'News, Search and Messaging',
 'Cloud Data Services': 'News, Search and Messaging',
 'Cloud Infrastructure': 'News, Search and Messaging',
 'Cloud Management': 'News, Search and Messaging',
 'Cloud Security': 'News, Search and Messaging',
 'Cloud-Based Music': 'News, Search and Messaging',
 'Coffee': 'Entertainment',
 'Collaboration': 'Social, Finance, Analytics, Advertising',
 'Collaborative Consumption': 'Social, Finance, Analytics, Advertising',
 'Collectibles': 'Others',
 'College Campuses': 'Others',
 'College Recruiting': 'Social, Finance, Analytics, Advertising',
 'Colleges': 'Social, Finance, Analytics, Advertising',
 'Comics': 'Entertainment',
 'Commercial Real Estate': 'News, Search and Messaging',
 'Commercial Solar': 'Cleantech / Semiconductors',
 'Commodities': 'Cleantech / Semiconductors',
 'Communications Hardware': 'Manufacturing',
 'Communications Infrastructure': 'Manufacturing',
 'Communities': 'Social, Finance, Analytics, Advertising',
 'Comparison Shopping': 'News, Search and Messaging',
 'Computer Vision': 'Manufacturing',
 'Computers': 'Manufacturing',
 'Concentrated Solar Power': 'Cleantech / Semiconductors',
 'Concerts': 'Entertainment',
 'Console Gaming': 'Entertainment',
 'Construction': 'Manufacturing',
 'Consulting': 'Social, Finance, Analytics, Advertising',
 'Consumer Behavior': 'Social, Finance, Analytics, Advertising',
 'Consumer Electronics': 'Manufacturing',
 'Consumer Goods': 'Manufacturing',
 'Consumer Internet': 'Social, Finance, Analytics, Advertising',
 'Consumer Lending': 'Social, Finance, Analytics, Advertising',
 'Consumers': 'Social, Finance, Analytics, Advertising',
 'Contact Centers': 'Social, Finance, Analytics, Advertising',
 'Contact Management': 'Social, Finance, Analytics, Advertising',
 'Content': 'Entertainment',
 'Content Creators': 'Entertainment',
 'Content Delivery': 'Entertainment',
 'Content Discovery': 'Entertainment',
 'Content Syndication': 'Entertainment',
 'Contests': 'Entertainment',
 'Cooking': 'Health',
 'Corporate IT': 'Social, Finance, Analytics, Advertising',
 'Corporate Training': 'Social, Finance, Analytics, Advertising',
 'Corporate Wellness': 'Health',
 'Cosmetic Surgery': 'Health',
 'Cosmetics': 'Health',
 'Coupons': 'Social, Finance, Analytics, Advertising',
 'Coworking': 'Social, Finance, Analytics, Advertising',
 'Craft Beer': 'Entertainment',
 'Creative': 'Entertainment',
 'Creative Industries': 'Entertainment',
 'Credit': 'Social, Finance, Analytics, Advertising',
 'Credit Cards': 'Social, Finance, Analytics, Advertising',
 'Crowdfunding': 'Social, Finance, Analytics, Advertising',
 'Crowdsourcing': 'Social, Finance, Analytics, Advertising',
 'Curated Web': 'News, Search and Messaging',
 'Custom Retail': 'Social, Finance, Analytics, Advertising',
 'Customer Service': 'Social, Finance, Analytics, Advertising',
 'Customer Support Tools': 'Social, Finance, Analytics, Advertising',
 'Cyber': 'Social, Finance, Analytics, Advertising',
 'Cyber Security': 'Social, Finance, Analytics, Advertising',
 'DIY': 'Others',
 'DOD/Military': 'Manufacturing',
 'Data Center Automation': 'Social, Finance, Analytics, Advertising',
 'Data Center Infrastructure': 'Social, Finance, Analytics, Advertising',
 'Data Centers': 'Social, Finance, Analytics, Advertising',
 'Data Integration': 'Social, Finance, Analytics, Advertising',
 'Data Mining': 'Social, Finance, Analytics, Advertising',
 'Data Privacy': 'Social, Finance, Analytics, Advertising',
 'Data Security': 'Social, Finance, Analytics, Advertising',
 'Data Visualization': 'Social, Finance, Analytics, Advertising',
 'Databases': 'Social, Finance, Analytics, Advertising',
 'Debt Collecting': 'Social, Finance, Analytics, Advertising',
 'Defense': 'Manufacturing',
 'Delivery': 'News, Search and Messaging',
 'Demographies': 'News, Search and Messaging',
 'Dental': 'Health',
 'Design': 'Automotive & Sports',
 'Designers': 'Automotive & Sports',
 'Developer APIs': 'Social, Finance, Analytics, Advertising',
 'Developer Tools': 'Social, Finance, Analytics, Advertising',
 'Development Platforms': 'Social, Finance, Analytics, Advertising',
 'Diabetes': 'Health',
 'Diagnostics': 'Health',
 'Dietary Supplements': 'Health',
 'Digital Entertainment': 'Entertainment',
 'Digital Media': 'Entertainment',
 'Digital Rights Management': 'Entertainment',
 'Digital Signage': 'Entertainment',
 'Direct Advertising': 'Social, Finance, Analytics, Advertising',
 'Direct Marketing': 'News, Search and Messaging',
 'Direct Sales': 'News, Search and Messaging',
 'Discounts': 'Social, Finance, Analytics, Advertising',
 'Displays': 'Manufacturing',
 'Disruptive Models': 'Cleantech / Semiconductors',
 'Distribution': 'Others',
 'Distributors': 'Others',
 'Doctors': 'Health',
 'Document Management': 'Others',
 'Domains': 'News, Search and Messaging',
 'Drones': 'Automotive & Sports',
 'E-Books': 'Entertainment',
 'E-Commerce': 'Others',
 'E-Commerce Platforms': 'Others',
 'EBooks': 'Entertainment',
 'EDA Tools': 'Others',
 'Early-Stage Technology': 'Cleantech / Semiconductors',
 'EdTech': 'Others',
 'Ediscovery': 'Others',
 'Education': 'Others',
 'Educational Games': 'Entertainment',
 'Edutainment': 'Entertainment',
 'Elder Care': 'Health',
 'Electric Vehicles': 'Automotive & Sports',
 'Electrical Distribution': 'Manufacturing',
 'Electronic Health Records': 'Health',
 'Electronics': 'Manufacturing',
 'Email': 'News, Search and Messaging',
 'Email Marketing': 'Social, Finance, Analytics, Advertising',
 'Email Newsletters': 'Social, Finance, Analytics, Advertising',
 'Embedded Hardware and Software': 'Manufacturing',
 'Emerging Markets': 'Others',
 'Employer Benefits Programs': 'Social, Finance, Analytics, Advertising',
 'Employment': 'Others',
 'Energy': 'Cleantech / Semiconductors',
 'Energy Efficiency': 'Cleantech / Semiconductors',
 'Energy IT': 'Cleantech / Semiconductors',
 'Energy Management': 'Cleantech / Semiconductors',
 'Energy Storage': 'Cleantech / Semiconductors',
 'Engineering Firms': 'Others',
 'Enterprise 2.na': 'Others',
 'Enterprise Application': 'Others',
 'Enterprise Purchasing': 'Social, Finance, Analytics, Advertising',
 'Enterprise Resource Planning': 'Others',
 'Enterprise Search': 'News, Search and Messaging',
 'Enterprise Security': 'Others',
 'Enterprise Software': 'Others',
 'Enterprises': 'Others',
 'Entertainment': 'Entertainment',
 'Entertainment Industry': 'Entertainment',
 'Entrepreneur': 'Others',
 'Environmental Innovation': 'Cleantech / Semiconductors',
 'Estimation and Quoting': 'Social, Finance, Analytics, Advertising',
 'Event Management': 'Entertainment',
 'Events': 'Entertainment',
 'Exercise': 'Health',
 'Eyewear': 'Health',
 'Face Recognition': 'Social, Finance, Analytics, Advertising',
 'Facebook Applications': 'Social, Finance, Analytics, Advertising',
 'Families': 'Others',
 'Fantasy Sports': 'Entertainment',
 'Farmers Market': 'Manufacturing',
 'Farming': 'Manufacturing',
 'Fashion': 'Entertainment',
 'Fertility': 'Cleantech / Semiconductors',
 'Field Support Services': 'Others',
 'File Sharing': 'Others',
 'Film': 'Entertainment',
 'Film Distribution': 'Entertainment',
 'Film Production': 'Entertainment',
 'FinTech': 'Social, Finance, Analytics, Advertising',
 'Finance': 'Social, Finance, Analytics, Advertising',
 'Finance Technology': 'Social, Finance, Analytics, Advertising',
 'Financial Exchanges': 'Social, Finance, Analytics, Advertising',
 'Financial Services': 'Social, Finance, Analytics, Advertising',
 'Fitness': 'Health',
 'Flash Sales': 'Others',
 'Flash Storage': 'Others',
 'Fleet Management': 'Others',
 'Flowers': 'Others',
 'Fmcg': 'Manufacturing',
 'Food Processing': 'Manufacturing',
 'Forums': 'News, Search and Messaging',
 'Fraud Detection': 'Social, Finance, Analytics, Advertising',
 'Freelancers': 'Others',
 'Freemium': 'Social, Finance, Analytics, Advertising',
 'FreetoPlay Gaming': 'Entertainment',
 'Fruit': 'Others',
 'Fuel Cells': 'Cleantech / Semiconductors',
 'Fuels': 'Automotive & Sports',
 'Funeral Industry': 'Cleantech / Semiconductors',
 'Furniture': 'Manufacturing',
 'Gadget': 'Manufacturing',
 'Gambling': 'Entertainment',
 'Game': 'Entertainment',
 'Game Mechanics': 'Entertainment',
 'Games': 'Entertainment',
 'Gamification': 'Entertainment',
 'Gas': 'Cleantech / Semiconductors',
 'Gay & Lesbian': 'Others',
 'General Public Worldwide': 'Others',
 'Genetic Testing': 'Health',
 'Geospatial': 'Others',
 'Gift Card': 'Others',
 'Gift Exchange': 'Others',
 'Gift Registries': 'Others',
 'Gold': 'Social, Finance, Analytics, Advertising',
 'Governance': 'Others',
 'Government Innovation': 'Others',
 'Governments': 'Others',
 'Gps': 'News, Search and Messaging',
 'Graphics': 'News, Search and Messaging',
 'Green': 'Cleantech / Semiconductors',
 'Green Consumer Goods': 'Cleantech / Semiconductors',
 'Groceries': 'Manufacturing',
 'Group Buying': 'Social, Finance, Analytics, Advertising',
 'Group SMS': 'News, Search and Messaging',
 'Guides': 'Others',
 'Handmade': 'Manufacturing',
 'Hardware': 'Manufacturing',
 'Hardware + Software': 'Manufacturing',
 'Health Care': 'Health',
 'Health Care Information Technology': 'Health',
 'Health Diagnostics': 'Health',
 'Health Services Industry': 'Health',
 'Health and Insurance': 'Health',
 'Health and Wellness': 'Health',
 'Healthcare Services': 'Health',
 'Heavy Industry': 'Automotive & Sports',
 'Hedge Funds': 'Social, Finance, Analytics, Advertising',
 'High School Students': 'Others',
 'High Schools': 'Others',
 'High Tech': 'Others',
 'Home & Garden': 'Cleantech / Semiconductors',
 'Home Automation': 'Cleantech / Semiconductors',
 'Home Decor': 'Cleantech / Semiconductors',
 'Home Owners': 'Others',
 'Home Renovation': 'Others',
 'Homeland Security': 'Others',
 'Homeless Shelter': 'Others',
 'Hospitality': 'Others',
 'Hospitals': 'Health',
 'Hotels': 'Entertainment',
 'Human Computer Interaction': 'Others',
 'Human Resource Automation': 'Others',
 'Human Resources': 'Others',
 'Humanitarian': 'Others',
 'ICT': 'Others',
 'IT Management': 'Others',
 'IT and Cybersecurity': 'Others',
 'IaaS': 'Others',
 'Identity': 'Others',
 'Identity Management': 'Social, Finance, Analytics, Advertising',
 'Image Recognition': 'Social, Finance, Analytics, Advertising',
 'Impact Investing': 'Social, Finance, Analytics, Advertising',
 'In-Flight Entertainment': 'Entertainment',
 'Incentives': 'Social, Finance, Analytics, Advertising',
 'Incubators': 'Social, Finance, Analytics, Advertising',
 'Independent Music Labels': 'Entertainment',
 'Independent Pharmacies': 'Health',
 'Indians': 'Others',
 'Indoor Positioning': 'Others',
 'Industrial': 'Manufacturing',
 'Industrial Automation': 'Automotive & Sports',
 'Information Security': 'Social, Finance, Analytics, Advertising',
 'Information Services': 'Social, Finance, Analytics, Advertising',
 'Information Technology': 'Social, Finance, Analytics, Advertising',
 'Infrastructure': 'Social, Finance, Analytics, Advertising',
 'Innovation Engineering': 'Social, Finance, Analytics, Advertising',
 'Innovation Management': 'Social, Finance, Analytics, Advertising',
 'Insurance': 'Social, Finance, Analytics, Advertising',
 'Intellectual Asset Management': 'Others',
 'Intellectual Property': 'Others',
 'Intelligent Systems': 'Others',
 'Interest Graph': 'Others',
 'Interface Design': 'Entertainment',
 'Interior Design': 'Entertainment',
 'Internet': 'News, Search and Messaging',
 'Internet Infrastructure': 'News, Search and Messaging',
 'Internet Marketing': 'Social, Finance, Analytics, Advertising',
 'Internet Radio Market': 'News, Search and Messaging',
 'Internet Service Providers': 'News, Search and Messaging',
 'Internet of Things': 'Social, Finance, Analytics, Advertising',
 'Investment Management': 'Social, Finance, Analytics, Advertising',
 'Jewelry': 'Entertainment',
 'Journalism': 'News, Search and Messaging',
 'K-12 Education': 'Others',
 'Kids': 'Others',
 'Knowledge Management': 'Others',
 'Landscaping': 'Others',
 'Language Learning': 'Others',
 'Lasers': 'Health',
 'Law Enforcement': 'Others',
 'Lead Generation': 'Others',
 'Lead Management': 'Others',
 'Legal': 'Others',
 'Leisure': 'Entertainment',
 'Licensing': 'Others',
 'Life Sciences': 'Others',
 'Lifestyle': 'Entertainment',
 'Lifestyle Businesses': 'Entertainment',
 'Lifestyle Products': 'Entertainment',
 'Lighting': 'Cleantech / Semiconductors',
 'Limousines': 'Automotive & Sports',
 'Linux': 'Others',
 'Local': 'Others',
 'Local Advertising': 'Social, Finance, Analytics, Advertising',
 'Local Based Services': 'Others',
 'Local Businesses': 'Others',
 'Local Commerce': 'Others',
 'Local Search': 'News, Search and Messaging',
 'Location Based Services': 'Others',
 'Logistics': 'Others',
 'Logistics Company': 'Others',
 'Lotteries': 'Social, Finance, Analytics, Advertising',
 'Low Bid Auctions': 'Others',
 'Loyalty Programs': 'Others',
 'M2M': 'Others',
 'Machine Learning': 'Social, Finance, Analytics, Advertising',
 'Manufacturing': 'Manufacturing',
 'Maps': 'News, Search and Messaging',
 'Market Research': 'Social, Finance, Analytics, Advertising',
 'Marketing Automation': 'Social, Finance, Analytics, Advertising',
 'Marketplaces': 'Others',
 'Mass Customization': 'Others',
 'Match-Making': 'Others',
 'Material Science': 'Cleantech / Semiconductors',
 'Mechanical Solutions': 'Cleantech / Semiconductors',
 'Media': 'Entertainment',
 'Medical': 'Health',
 'Medical Devices': 'Health',
 'Medical Professionals': 'Health',
 'Meeting Software': 'News, Search and Messaging',
 'Mens Specific': 'Health',
 'Messaging': 'News, Search and Messaging',
 'Micro-Enterprises': 'Others',
 'MicroBlogging': 'News, Search and Messaging',
 'Minerals': 'Cleantech / Semiconductors',
 'Mining Technologies': 'Cleantech / Semiconductors',
 'Mobile': 'News, Search and Messaging',
 'Mobile Advertising': 'Social, Finance, Analytics, Advertising',
 'Mobile Analytics': 'Social, Finance, Analytics, Advertising',
 'Mobile Commerce': 'Social, Finance, Analytics, Advertising',
 'Mobile Devices': 'News, Search and Messaging',
 'Mobile Enterprise': 'News, Search and Messaging',
 'Mobile Games': 'Entertainment',
 'Mobile Health': 'Health',
 'Mobile Infrastructure': 'Manufacturing',
 'Mobile Payments': 'Social, Finance, Analytics, Advertising',
 'Mobile Security': 'Others',
 'Mobile Shopping': 'Social, Finance, Analytics, Advertising',
 'Mobile Social': 'News, Search and Messaging',
 'Mobile Software Tools': 'Manufacturing',
 'Mobile Video': 'Entertainment',
 'Mobility': 'Others',
 'Monetization': 'Social, Finance, Analytics, Advertising',
 'Moneymaking': 'Social, Finance, Analytics, Advertising',
 'Multi-level Marketing': 'Social, Finance, Analytics, Advertising',
 'Music': 'Entertainment',
 'Music Education': 'Entertainment',
 'Music Services': 'Entertainment',
 'Music Venues': 'Entertainment',
 'Musical Instruments': 'Entertainment',
 'Musicians': 'Entertainment',
 'Nanotechnology': 'Cleantech / Semiconductors',

In [30]:
# extract primary sector from each category in category_list in master_frame
master_frame['Primary_sector'] = master_frame['category_list'].str.split('|').str[0]
master_frame.head()

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,Primary_sector
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN,Media
1,/organization/-qounter,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014,Application Platforms
3,/organization/-the-one-of-them-inc-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN,Apps
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007,Curated Web
5,/organization/004-technologies,/funding-round/1278dd4e6a37fa4b7d7e06c21b3c1830,venture,NaN,24-07-2014,NaN,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010,Software

In [31]:
# add Main_sector column to the master_frame - lookup the mapping dictionary for Primary_sector and get the Main_sector
master_frame['Main_sector'] = master_frame['Primary_sector'].map(map_dict)
master_frame.head()

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,Primary_sector,Main_sector
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN,Media,Entertainment
1,/organization/-qounter,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014,Application Platforms,"News, Search and Messaging"
3,/organization/-the-one-of-them-inc-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN,Apps,"News, Search and Messaging"
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007,Curated Web,"News, Search and Messaging"
5,/organization/004-technologies,/funding-round/1278dd4e6a37fa4b7d7e06c21b3c1830,venture,NaN,24-07-2014,NaN,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010,Software,Others

# Checkpoint 5: Sector Analysis 2

In [107]:
# D1 : dataframe for USA 
master_frame['raised_amount_usd'].fillna(0, inplace=True)
D1 = master_frame.loc[master_frame['country_code'] == "USA"]

# Investments range is between 5M to 15M
D1 = D1[D1['raised_amount_usd'].between(5000000, 15000000, inclusive=True)]

# find the number of investments in each main_sector
D1['Inv_Count'] = D1.Main_sector.groupby(D1.Main_sector).transform('count')

# find the amount of investments in each main_sector
D1['Inv_Sum'] = D1.groupby('Main_sector')['raised_amount_usd'].transform('sum')

D1.head()


#myList = ['Entertainment', 'Others', 'Manufacturing', 'Automotive & Sports', 'News, Search and Messaging', 'Social, Finance, Analytics, Advertising', 'Cleantech / Semiconductors', 'Health' ]

#D1[~D1['Main_sector'].isin(myList)].shape

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,Primary_sector,Main_sector,Inv_Count,Inv_Sum
12,/organization/0xdata,/funding-round/e1cfcbe1bdf4c70277c5f29a3482f24e,venture,A,19-07-2014,8900000.0,H2O.ai,http://h2o.ai/,Analytics,operating,USA,CA,SF Bay Area,Mountain View,01-01-2011,Analytics,"Social, Finance, Analytics, Advertising",2714.0,2.380738e+10
22,/organization/1-mainstream,/funding-round/b952cbaf401f310927430c97b68162ea,venture,NaN,17-03-2015,5000000.0,1 Mainstream,http://www.1mainstream.com,Apps|Cable|Distribution|Software,acquired,USA,CA,SF Bay Area,Cupertino,01-03-2012,Apps,"News, Search and Messaging",1583.0,1.397157e+10
103,/organization/128-technology,/funding-round/fb6216a30cb566ede89e0bee0623a634,venture,NaN,16-12-2014,11999347.0,128 Technology,http://www.128technology.com/,Service Providers|Technology,operating,USA,MA,Boston,Burlington,07-07-2014,Service Providers,Others,2950.0,2.632101e+10
110,/organization/1366-technologies,/funding-round/424129ce1235cfab2655ee81305f7c2b,venture,C,15-10-2013,15000000.0,1366 Technologies,http://www.1366tech.com,Manufacturing,operating,USA,MA,Boston,Bedford,01-01-2007,Manufacturing,Manufacturing,799.0,7.258553e+09
111,/organization/1366-technologies,/funding-round/6d3f3797371956ece035b8478c1441b2,venture,C,09-04-2015,5000000.0,1366 Technologies,http://www.1366tech.com,Manufacturing,operating,USA,MA,Boston,Bedford,01-01-2007,Manufacturing,Manufacturing,799.0,7.258553e+09

In [66]:
# Total number of investments for USA

tot_investments = D1.groupby(['Main_sector', 'Inv_Count'], as_index=False).count()
print(tot_investments['Inv_Count'].sum())

12063.0

In [68]:
# Total amount of investments

tot_sum = D1.groupby(['Main_sector','Inv_Sum'], as_index=False).count()

print(tot_sum['Inv_Sum'].sum())

107757097294.0

In [84]:
# find the main sector with max number of investments
tot_investments.groupby('Main_sector')['Inv_Count'].sum().sort_values(ascending=False)

Main_sector
Others                                     2950.0
Social, Finance, Analytics, Advertising    2714.0
Cleantech / Semiconductors                 2350.0
News, Search and Messaging                 1583.0
Health                                      909.0
Manufacturing                               799.0
Entertainment                               591.0
Automotive & Sports                         167.0
Name: Inv_Count, dtype: float64

In [124]:
# for top sector with max number of investments, find the company with highest investment
D1_sect1 = D1.loc[D1['Main_sector'] == "Others"]

D1_sect1.groupby('company_permalink')['raised_amount_usd'].sum().sort_values(ascending=False).head(1)

company_permalink
/organization/virtustream    64300000.0
Name: raised_amount_usd, dtype: float64

In [123]:
# for second best sector with max number of investments, find the company with highest investment
D1_sect2 = D1.loc[D1['Main_sector'] == "Social, Finance, Analytics, Advertising"]
D1_sect2.groupby('company_permalink')['raised_amount_usd'].sum().sort_values(ascending=False).head(1)

company_permalink
/organization/shotspotter    67933006.0
Name: raised_amount_usd, dtype: float64

In [115]:
# D2 : dataframe for GBR 

D2 = master_frame.loc[master_frame['country_code'] == "GBR"]

# Investments range is between 5M to 15M
D2 = D2[D2['raised_amount_usd'].between(5000000, 15000000, inclusive=True)]

# find the number of investments in each main_sector
D2['Inv_Count'] = D2.Main_sector.groupby(D2.Main_sector).transform('count')

# find the amount of investments in each main_sector
D2['Inv_Sum'] = D2.groupby('Main_sector')['raised_amount_usd'].transform('sum')
D2.shape

(628, 19)

In [108]:
# Total number of investments for GBR

tot_investments = D2.groupby(['Main_sector', 'Inv_Count'], as_index=False).count()
print(tot_investments['Inv_Count'].sum())

621.0

In [116]:
# Total amount of investments for GBR

tot_sum = D2.groupby(['Main_sector','Inv_Sum'], as_index=False).count()

print(tot_sum['Inv_Sum'].sum())

5379078691.0

In [117]:
# find the main sector with max number of investments
tot_investments.groupby('Main_sector')['Inv_Count'].sum().sort_values(ascending=False)

Main_sector
Others                                     147.0
Social, Finance, Analytics, Advertising    133.0
Cleantech / Semiconductors                 130.0
News, Search and Messaging                  73.0
Entertainment                               56.0
Manufacturing                               42.0
Health                                      24.0
Automotive & Sports                         16.0
Name: Inv_Count, dtype: float64

In [131]:
 #for top sector with max number of investments, find the company with highest investment
D2_sect1 = D2.loc[D2['Main_sector'] == "Others"]

D2_sect1.groupby('company_permalink')['raised_amount_usd'].sum().sort_values(ascending=False).head(1)

company_permalink
/organization/electric-cloud    37000000.0
Name: raised_amount_usd, dtype: float64

In [132]:
# find the company name for the company ID with highest investment
D2.loc[D2['company_permalink'] == '/organization/electric-cloud']

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,Primary_sector,Main_sector,Inv_Count,Inv_Sum
30949,/organization/electric-cloud,/funding-round/0471ecf9dc235b2d8900b4acf6fa47b0,venture,C,17-01-2007,9000000.0,Electric Cloud,http://www.electric-cloud.com,Software,operating,GBR,H9,London,London,01-01-2002,Software,Others,147.0,1.283624e+09
30950,/organization/electric-cloud,/funding-round/18b59aa860d015808d7e0e4a5dfe2e7e,venture,D,03-09-2013,8000000.0,Electric Cloud,http://www.electric-cloud.com,Software,operating,GBR,H9,London,London,01-01-2002,Software,Others,147.0,1.283624e+09
30951,/organization/electric-cloud,/funding-round/92b7e109112fc2d0bb8e72a07cd64013,venture,B,12-07-2004,8000000.0,Electric Cloud,http://www.electric-cloud.com,Software,operating,GBR,H9,London,London,01-01-2002,Software,Others,147.0,1.283624e+09
30954,/organization/electric-cloud,/funding-round/cfc71183f508736cbf12dc17d2f2c91f,venture,E,18-06-2014,12000000.0,Electric Cloud,http://www.electric-cloud.com,Software,operating,GBR,H9,London,London,01-01-2002,Software,Others,147.0,1.283624e+09

In [127]:
# for second best sector with max number of investments, find the company with highest investment
D2_sect2 = D2.loc[D2['Main_sector'] == "Social, Finance, Analytics, Advertising"]
D2_sect2.groupby('company_permalink')['raised_amount_usd'].sum().sort_values(ascending=False).head(1)

company_permalink
/organization/celltick-technologies    37500000.0
Name: raised_amount_usd, dtype: float64

In [133]:
D2.loc[D2['company_permalink'] == '/organization/celltick-technologies']

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,Primary_sector,Main_sector,Inv_Count,Inv_Sum
18294,/organization/celltick-technologies,/funding-round/7370d192f693be870a77d4bc5d16c995,venture,E,01-01-2011,8000000.0,Celltick Technologies,http://www.celltick.com,Advertising|Mobile,operating,GBR,H9,London,London,01-01-2000,Advertising,"Social, Finance, Analytics, Advertising",133.0,1.089404e+09
18295,/organization/celltick-technologies,/funding-round/7c72d9ba319e41cfff22f41f35a9c70d,venture,D,07-11-2007,8500000.0,Celltick Technologies,http://www.celltick.com,Advertising|Mobile,operating,GBR,H9,London,London,01-01-2000,Advertising,"Social, Finance, Analytics, Advertising",133.0,1.089404e+09
18296,/organization/celltick-technologies,/funding-round/9a24b5f22876d7a84d50383b00127a1f,venture,B,09-08-2001,10000000.0,Celltick Technologies,http://www.celltick.com,Advertising|Mobile,operating,GBR,H9,London,London,01-01-2000,Advertising,"Social, Finance, Analytics, Advertising",133.0,1.089404e+09
18298,/organization/celltick-technologies,/funding-round/f89f16f8f6e1ba8c87b6eaf866c9eeeb,venture,C,07-03-2005,11000000.0,Celltick Technologies,http://www.celltick.com,Advertising|Mobile,operating,GBR,H9,London,London,01-01-2000,Advertising,"Social, Finance, Analytics, Advertising",133.0,1.089404e+09

In [134]:
# D3 : dataframe for India

D3 = master_frame.loc[master_frame['country_code'] == "IND"]

# Investments range is between 5M to 15M
D3 = D3[D3['raised_amount_usd'].between(5000000, 15000000, inclusive=True)]

# find the number of investments in each main_sector
D3['Inv_Count'] = D3.Main_sector.groupby(D3.Main_sector).transform('count')

# find the amount of investments in each main_sector
D3['Inv_Sum'] = D3.groupby('Main_sector')['raised_amount_usd'].transform('sum')
D3.shape

(330, 19)

In [135]:
# Total number of investments for India

tot_investments = D3.groupby(['Main_sector', 'Inv_Count'], as_index=False).count()
print(tot_investments['Inv_Count'].sum())

328.0

In [136]:
# Total amount of investments for India

tot_sum = D3.groupby(['Main_sector','Inv_Sum'], as_index=False).count()

print(tot_sum['Inv_Sum'].sum())

2949543602.0

In [137]:
# find the main sector with max number of investments
tot_investments.groupby('Main_sector')['Inv_Count'].sum().sort_values(ascending=False)

Main_sector
Others                                     110.0
Social, Finance, Analytics, Advertising     60.0
News, Search and Messaging                  52.0
Entertainment                               33.0
Manufacturing                               21.0
Cleantech / Semiconductors                  20.0
Health                                      19.0
Automotive & Sports                         13.0
Name: Inv_Count, dtype: float64

In [138]:
 #for top sector with max number of investments, find the company with highest investment
D3_sect1 = D3.loc[D3['Main_sector'] == "Others"]

D3_sect1.groupby('company_permalink')['raised_amount_usd'].sum().sort_values(ascending=False).head(1)

company_permalink
/organization/firstcry-com    39000000.0
Name: raised_amount_usd, dtype: float64

In [139]:
# find the company name for the company ID with highest investment
D3.loc[D3['company_permalink'] == '/organization/firstcry-com']

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,Primary_sector,Main_sector,Inv_Count,Inv_Sum
35823,/organization/firstcry-com,/funding-round/23b1769412d24510dfc7a56ab1f12e4d,venture,C,21-01-2014,15000000.0,FirstCry.com,http://www.firstcry.com,E-Commerce,operating,IND,16,Pune,Pune,01-01-2010,E-Commerce,Others,110.0,1.013410e+09
35824,/organization/firstcry-com,/funding-round/727bda07de7b5eaf31e484cb803b3c38,venture,D,08-04-2015,10000000.0,FirstCry.com,http://www.firstcry.com,E-Commerce,operating,IND,16,Pune,Pune,01-01-2010,E-Commerce,Others,110.0,1.013410e+09
35825,/organization/firstcry-com,/funding-round/c2bd1e484cde75ff8b15f2ca4682e5cb,venture,B,13-02-2012,14000000.0,FirstCry.com,http://www.firstcry.com,E-Commerce,operating,IND,16,Pune,Pune,01-01-2010,E-Commerce,Others,110.0,1.013410e+09

In [141]:
# for second best sector with max number of investments, find the company with highest investment
D3_sect2 = D3.loc[D3['Main_sector'] == "Social, Finance, Analytics, Advertising"]
D3_sect2.groupby('company_permalink')['raised_amount_usd'].sum().sort_values(ascending=False).head(1)

company_permalink
/organization/manthan-systems    50700000.0
Name: raised_amount_usd, dtype: float64

In [142]:
# find the company name for the company ID with highest investment
D3.loc[D3['company_permalink'] == '/organization/manthan-systems']

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,Primary_sector,Main_sector,Inv_Count,Inv_Sum
58939,/organization/manthan-systems,/funding-round/34b5d3d2bbd104d20d1a62a27220739f,venture,A,01-03-2007,5700000.0,Manthan Systems,http://www.manthansystems.com,Analytics|Big Data Analytics|Business Intellig...,operating,IND,19,Bangalore,Bangalore,01-01-2003,Analytics,"Social, Finance, Analytics, Advertising",60.0,550549550.0
58940,/organization/manthan-systems,/funding-round/384bb8d8bc2a9a1df097f6a4c60e12dc,venture,B,09-12-2009,15000000.0,Manthan Systems,http://www.manthansystems.com,Analytics|Big Data Analytics|Business Intellig...,operating,IND,19,Bangalore,Bangalore,01-01-2003,Analytics,"Social, Finance, Analytics, Advertising",60.0,550549550.0
58942,/organization/manthan-systems,/funding-round/7db541211550feab15626b11aa479116,venture,C,15-02-2012,15000000.0,Manthan Systems,http://www.manthansystems.com,Analytics|Big Data Analytics|Business Intellig...,operating,IND,19,Bangalore,Bangalore,01-01-2003,Analytics,"Social, Finance, Analytics, Advertising",60.0,550549550.0
58943,/organization/manthan-systems,/funding-round/a08435c935a0a43cd9069ad9480f8bb6,venture,B,20-11-2009,15000000.0,Manthan Systems,http://www.manthansystems.com,Analytics|Big Data Analytics|Business Intellig...,operating,IND,19,Bangalore,Bangalore,01-01-2003,Analytics,"Social, Finance, Analytics, Advertising",60.0,550549550.0